<div class="footer-gradient"></div>
<script>
  if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('/sw.js', { scope: '/' })
          .then(function(registration) {
              //console.log('Service Worker Registered');
          });

      navigator.serviceWorker
          .ready
          .then(function(registration) {
              //console.log('Service Worker Ready');
          });
  }
</script>
    <div class="section narrow">
      <div class="footer-hr"></div>

      <div class="footer-container">
        <div style="width: 100%; text-align: center; margin:0 auto; padding: 5px;">
          <iframe src="https://anchor.fm/maledetto-essere-umano/embed" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="footer-text" style="width: 100%; text-align: center; margin:0 auto; padding: 25px;">
          © {{ dateFormat "2006" now }} {{ .Site.Title }}
        </div>
        <div style="display:flex; justify-content: center;">
          <div>{{ partial "social-links/social-links.html" . }}</div>
        </div>


    </div>

</div>
